<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> joah project </title>
    {%load static%}

    <link href="{% static 'djauth/studentAnnouncement.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <link href="{% static 'djauth/mainpage.css' %}" rel="stylesheet">
  </head>
  
  <body>
    
    
    <header>
        <a class="logo" href="/mainpage"> <img src="{% static 'djauth/media/joah-logo.png' %}" style="width:95px; height:55px"> </a>
        <nav>
            <ul class="navbar-links">
                <li><a href="/studentDashboard/studentCalendar"> Calendar </a></li>
                <li><a href="/studentDashboard/studentAnnouncement"> Announcements </a></li>
                <li><a href="/studentDashboard/home"> Start Exam </a></li>
                {% if user.is_authenticated %}
                        <li><a href="/dash"> dashboard </a></li>
                        {%endif%}
                </ul>
                <!-- <li><a href="#">About</a></li> -->
            </ul>
        </nav>
        <div>
            <ul class="navbar-links">
                {% if user.is_authenticated %}
                <span> Welcome to JoAh, {{user.username}}! | </span>
                <li><a href="/logout"> logout </a></li>
                {% else %}
                <li><a href="/login"> login </a></li>
            {%endif%}
    </div> </header>
        
    
    <div id="container">
        <center>
            <div id="header"> Announcements </b> </div>
        </center>


        <div id=" content">
            <div class = "container">
                <div class = "card">
                    <div class = "content-card">
                        {% for item in all_announcements %} <br/>
                            <strong> Teacher:</strong> {{ item.teachername }} <br/>
                            <strong>Announcement:</strong> {{ item.announcement }} <hr>
                        
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% comment %} {{ form.as_p }}
            <h1> New Announcement: <br> {{ announcement }} </h1> {% endcomment %}
        </div>

        <div id="footer"> &copy; 2020. <a href="/">JoAh</a> </div>
    </div>
</body>
</html>
