{% extends 'Quiz/dependencies.html' %}

{% block content %}

<head>
    <link rel="stylesheet" href="stylesheets/teacherDashboard.css"> 
    <link rel="stylesheet" href="studentDashboard/bootstrap.min.css">
    <link rel="stylesheet" href="studentDashboard/line-icons.css">
</head>

<header>
    <a class="logo" href="/mainpage.html"> joah </a>
    <a class="login-button" href="/teacherCalendar.html"> Calender </a>
    <a class="login-button" href="/teacherAnnouncement.html"> Announcements </a>
  </header>

<div class="container jumbotron">
    <div class="col-md-6">
        <h1>Add Question</h1>
        <div class="card card-body">
           <form action="" method="POST">
              {% csrf_token %}
                {{form.as_p}}
                <br>
             <input type="submit" name="Submit">
             </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}