{% extends 'djauth/mainpage.html'%}
{% block title %} Calendar {% endblock %}
{% block content %} 

    <div class = "calendar-div">
        
            <iframe src="https://embed.styledcalendar.com/#ETV6wFxmfuTfi69JSAxB" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
        <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script></div>
        
        </div>
   
 </body>

 {%endblock%}
 
 </html>