<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title> joah project </title>
        

    </head>
    <p class="sign" align="center" style="font-size: 30px;color:#ffa600;font-family:'Ubuntu', sans-serif;font-weight:bold">Sign In</p>

    <body bgcolor="#F3EBF6">
        <form  align="center" method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Login" />
        </form>
    </body>
</html>

