<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> 
  
        <title>{% block title %}Joah Website{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
       <!-- Bootstrap icons-->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
       <!-- Core theme CSS (includes Bootstrap)-->
        {%load static%}
        <link href="{% static 'djauth/mainpage.css' %}" rel="stylesheet">
       <!-- Bootstrap core JS-->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
       <!-- Core theme JS-->
       <script src="js/scripts.js"></script>
    </head>
    
    <style>
        .testimonial-text {
            color: black !important ; 
          }
    </style>

    <body>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div>
                            <ul class="navbar-nav">
                                <a class="logo" href="/mainpage"> <img src="{% static 'djauth/media/joah-logo.png' %}" style="width:95px; height:55px"> </a>
                                <li class="nav-item"><a class="nav-link" href="/aboutUs"> About </a></li>
                                <li class="nav-item"><a class="nav-link" href="/resources"> Resources </a></li>

                                <li class="nav-item"><a class="nav-link" href="/programs"> Programs </a></li>
                                <li class="nav-item"><a class="nav-link" href="/contactus"> Contact Us </a></li>
                                {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="/dash"> Dashboard </a></li>
                                    {%endif%}
                            </ul>
                        </div>
                        <div>
                            <ul class="navbar-nav">
                                {% if user.is_authenticated %}
                                <span class="navbar-text"> Welcome to JoAh, {{user.username}}! | </span>
                                <li class="nav-item"><a class="nav-link" href="/logout"> logout </a></li>
                                {% else %}
                                <li class="nav-item"><a class="nav-link" href="/login"> login </a></li>
                            {%endif%}
                    </div>
                </nav>
            
                {%block content%}
            <div class="container">

                <div class = "py-5">
                    <div class="container px-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-xxl-6">
                                <div class="text-center my-5">
                                    <h1 class="section-one-position fw-bolder mb-3"> OUR FOCUS IS ON OUR STUDENTS ... </h1>
                                    <p class="section-one-position lead fw-normal text-muted mb-4"> 
                                        Joah Academy invites you to study with the best teachers and the most caring staff. <br> 
                                     </p>
                                    <a class="btn btn-primary btn-lg" href="/contactus"> Register! </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      
                <!-- About -- section two -->
                <section class="py-5 bg-light" id="scroll-target">
                    <div class="container px-5 my-5">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'djauth/media/joahphoto2.jpg' %}" alt="..." /></div>
                            <div class="col-lg-6">
                                <h2 class="fw-bolder">ABOUT US</h2>
                                {% comment %} <p class="lead fw-normal text-muted mb-0">  {% endcomment %}
                                <h6>
                                    Joah Academy was established in 2022 with one mission: provide the best education and 
                                    best care. We pride ourselves on creating a solid foundation in education and on 
                                    providing individualized care and attention to students.
                                </h6>

                                <h6>
                                    We provide 5-12th extra-curricular learning services in-person and remotely in the US. 
                                    Offering accelerated learning in math, science and language, JoAh Academy fosters 
                                    students’ ability to think critically, strengthens their logic skills, and helps them 
                                    fulfill their goals through innovative teaching techniques.
                                </h6>



                                <a class="btn btn-primary btn-lg" href="/aboutUs"> Learn More </a>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Programs / Cards -->
                <section class="py-5" id="#scroll-target">
                    <div class = "programs-header"> 
                        <h2 class="fw-bolder"> PROGRAMS </h2>
                    </div>
      
                    <div class = "card-align" >
                        <div class="card">
                            <div class="mainpageicons"><img src="{% static 'djauth/media/satclasses.png' %}" alt="Lago di Braies"> </div>
                                <div class="card__details">
                                    <div class="name"> SAT/ACT </div>
                                    <button> <a href="/satbasic"> Learn More </a></button>
                                </div>
                        </div>
      
                        <div class="card">
                            <img src="{% static 'djauth/media/mathclasses.png' %}" alt="Lago di Braies">
                                <div class="card__details">
                                    <div class="name"> MATH CLASSES </div>
                                     
                                    <button> <a href="/geometry"> Learn More </a></button>
                                </div>
                        </div>
      
                        <div class="card">
                            <img src="{% static 'djauth/media/jrclasses.png' %}" alt="Lago di Braies">
                                <div class="card__details">
                                    <div class="name"> JUNIOR CLASSES </div>
                                    
                                    <button> <a href="/jr1"> Learn More </a></button>
                                </div>
                         </div>
      
                        <div class="card">
                            <img src="{% static 'djauth/media/apclasses.png' %}" alt="Lago di Braies">
                                <div class="card__details">
                                    <div class="name"> AP CLASSES </div>
                                     
                                    <button> <a href="/aplang"> Learn More </a></button>
                                </div>
                        </div>
                    </div>
                </section>
               
                
                <!-- TESTIMONIALS -->
                <section class="py-5 bg-light container text-center">
                    <div class = "programs-header"> 
                        <h2 class="fw-bolder"> TESTIMONIALS </h2>
                    </div>

                    <div class="row">
                        <div class="col box-design">
                            <h5 class="testimonial-text" style="margin-top: 10px;"><strong><en>Jessica</strong></h5>
                            <p><em> "...I'm happy to say that this is the best academy that I've gone to. During my time here my 
                                SAT score was boosted significantly (300 points) with the help of the teachers and director there. 
                                The director and the teachers there are very friendly and anybody can tell that 
                                their students' well-being comes first over anything else..."</em></p>
                            <p> [ SAT Prep ] <p>
                        </div>

                        <div class="col box-design">
                            <h5 class="testimonial-text" style="margin-top: 10px;"><strong>Hannah Cui</strong></h5>
                            <p><em> "What sets Joah Academy apart from other private education institutes is that the director and teachers... truly value students 
                                and care about their future endeavors. I personally felt compassion for all 
                                the teachers that have taught me, which I believe is the biggest reason for my success."</em></p>
                            <p> [ SAT Prep + College Consulting ] <p>
                            </div>

                        <div class="col box-design">
                            <h5 class="testimonial-text" style="margin-top: 10px;"><strong>Eric Cho</strong></h5>
                            <p><em> "You will find the best strategy for you here. Also, I'm sure that this place will be helpful even if 
                                you are learning English as a second language. Any teacher can teach a student with a high score already,
                                but the teachers who can make students with low to get a high score are rare."</em></p>
                                <p> [ SAT Prep ] <p>
                        </div>
                    </div>
                </section>

      
                
      
                {% comment %} <!-- About -- section five -->
                 <section class="py-5 bg-light" id="contact-form">
                     <div class="contact-header-center ">
                         <h2 class="fw-bolder">Contact Us</h2>
                     </div>
                     <form id="contact" name="contact" accept-charset="utf-8">
                         <label><span>Name</span><input name="name" type="text" placeholder="Name"/></label>
                         <label><span>Email</span><input name="email" type="email" placeholder="Email"/></label>
                         <label><span>Message</span><textarea name="message" placeholder="Message"></textarea></label>
                         <input name="submit" type="submit" value="Send"/>
                     </form>
                 </section>
                 <!-- <aside> </aside> ??--> {% endcomment %}
            </main>
      
            <!-- Footer-->
            <footer class="bg-dark py-4 mt-auto">
                <div class="container px-5">
                    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                        <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; JoAh 2022</div></div>
                        <!-- <div class="col-auto">
                            <a class="link-light small" href="#!">Privacy</a>
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" href="#!">Terms</a>
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" href="#!">Contact</a>
                        </div> -->
                    </div>
                </div>
            </footer>
      
        </body>
        {% endblock %} </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
 
    </body>

    <style> 
        
    </style>

</html>
