<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/pdfScanner.css">
    <title> joah project </title>
</head>

{%load static%}
    <link href="{% static 'djauth/pdfScanner.css' %}" rel="stylesheet">
<body>
    <header>
        <a class="logo" href="/mainpage"> <img src="{% static 'djauth/media/joah-logo.png' %}" style="width:95px; height:55px"> </a>
        <nav>
            <ul class="navbar-links">
                <li><a href="/teacherCalendar"> about us </a></li>
                <li><a href="/teacherAnnouncement"> resources </a></li>
                <li><a href="/addQuestion"> calendar </a></li>
                <li><a href="/addStudent"> add student </a></li>
                
                {% if user.is_authenticated %}
                        <li><a href="/dash"> dashboard </a></li>
                        {%endif%}
                </ul>
                <!-- <li><a href="#">About</a></li> -->
            </ul>
        </nav>
        <div>
            <ul class="navbar-links">
                {% if user.is_authenticated %}
                <span> Welcome to JoAh, {{user.username}}! | </span>
                <li><a href="/logout"> logout </a></li>
                {% else %}
                <li><a href="/login"> login </a></li>
            {%endif%}
    </div> </header>

        <div class="scannerArea">
            <p class="select" align="center">Select a PDF to be scanned:</p>
            <form action="/action_page.php">
            <label class="choose-file">
                <input class="fileSelect" type="file" id="myfile" name="myfile">
                Choose File
                
                
                
            </label><br><br><br>
            
            <a class="submit" align="center">Submit</a>
             
            </form>
        </div>
    </body>