{% extends 'base.html' %}

{% block content %}
    <h1> New Student Information Form </h1>
    </br> 
    <form method = "POST" action = "{% url 'join' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" 
            placeholder = "First Name"
            name = "firstname" 
            value = "{{ firstname }}">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" 
            placeholder = "Last Name"
            name = "lastname"
            value = "{{ lastname }}">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" 
            placeholder = "Username"
            name = "username"
            value = "{{ username }}">
        </div>

        <div class="mb-3">
            <input type="password" class="form-control" 
            id="exampleInputPassword1"
            placeholder = "Password"
            name = "passwd"
            value = "{{ passwd }}">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" 
            placeholder = "Class Name"
            name = "classname"
            value = "{{ classname}}">
        </div>

        <div class="mb-3">
            <input type="email" class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp"
            placeholder = "Email Address"
            name = "email"
            value = "{{ email }}">
        </div>

        </br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


{% endblock %}
